<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="14px" id="search">
  <mat-form-field fxFlex="70">
    <input #searchText id="searchText" matInput placeholder="Enter Search query"/>
  </mat-form-field>
  <button fxFlex="10" mat-raised-button color="primary" (click)="searchQuestionsWithText(searchText.value)">
    <i class="fab fa-searchengin"></i> Search
  </button>
</div>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
  <div fxFlex="69"></div> 
  <button mat-raised-button color="primary" (click)="startQuiz()">
      <mat-icon>
        assignment
      </mat-icon>
      Take Quiz
    </button>
    <button mat-raised-button color="primary" (click)="addQuestion()">
      <mat-icon>
        add
      </mat-icon>
      Add Question
    </button>
</div>

<div *ngIf="questions && questions.length; else elseTemplate">
    <div>
      <ol fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="10px">
        <li *ngFor="let question of filteredQuestions; let i = index" fxLayout="row" fxLayoutAlign="start center">
            <mat-card mat-line fxFlex="85" fxFlexOffset="6" >
                <mat-card-header >
                  <mat-card-title>
                      {{ i + 1 }}. {{ question.name }}
                  </mat-card-title>
                  <span class="spacer"></span>
                  <button mat-button (click)="editQuestion(question)">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button mat-button (click)="deleteQuestion(question)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                </mat-card-header>
                <mat-card-content>
                    <h5> Answer: {{ question.answer }}</h5>
                </mat-card-content>
              </mat-card>
        </li>
      </ol>
      <div id="noSearchItems" fxFlex *ngIf="filteredQuestions?.length === 0">
        No questions found by executing search on name and answer
      </div>
    </div>
  </div>


<ng-template #elseTemplate>
  <p class="text-center">
    No questions to create one
    <span class="link" (click)="addQuestion()">
      click here.
    </span>
  </p>
</ng-template>

  
