<form fxLayout="column wrap" fxLayoutAlign="center center"
   fxLayoutGap="10px" #form="ngForm" (ngSubmit)="sendNumberOfQuestions()">
  
  <p>Please Select Number of Questions You want to be questioned ?</p>
  
  <mat-form-field>
    <input 
      type="number"
      matInput 
      placeholder="Number of Questions" 
      [formControl]="numberOfQuestions"
      required />
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" >
    Start Quiz
  </button>
  
</form>